.try1 {
    color: blue;
    font-size: 16px;
	border: thick double #32a1ce;
	line-height: 40px;
}

.try2 {
    color: red;
    font-size: 20px;
    border: 3px dashed red;
	line-height: 40px;
}

.try3 {
    color: green;
    font-size: 18px;
    border: 1px dotted green;
	line-height: 40px;
}




